  <div class="row justify-content-center">

    <div class="card text-white bg-warning m-3 shadow" style="max-width: 18rem;" [routerLink]="['/attributes']">
      <div class=" card-header text-center">Attributes List</div>
      <div class="card-body">
        <p class="card-text">Shows a complete list of all the attributes and their connections.</p>
      </div>
    </div>

    <div class="card text-white bg-warning m-3 shadow" style="max-width: 18rem;" [routerLink]="['/employees']">
      <div class=" card-header text-center">Employee List</div>
      <div class="card-body">
        <p class="card-text">Shows a complete list of all the empoloyees.</p>
      </div>
    </div>

    <div class="card text-white bg-warning m-3 shadow" style="max-width: 18rem;" [routerLink]="['/map']">
      <div class=" card-header text-center">Empoloyee Map</div>
      <div class="card-body">
        <p class="card-text">Shows a map with all the employee addresses pinned.</p>
      </div>
    </div>

  </div>
