<div class="container-fluid">
  <div class="row">
    <div class="col-6 mx-auto mt-2 mb-3">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Birthday</th>
          </tr>
        </thead>
        <tbody class="">
          <tr *ngFor="let employee of listOfEmployees">
            <td>{{employee.name}}</td>
            <td>{{employee.birthday}}</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <!-- Test buttons -->
    <button class="btn-primary" [routerLink]="['./create']">Create</button>
    <button class="btn-primary" [routerLink]="['./edit', 1]">Edit</button>
  </div>
</div>
